<h1>Tareas#show</h1>
<p>Find me in app/views/tareas/show.html.erb</p>
<h2> <%= @tarea.titulo %> </h2>
<div>
   <%= simple_format @tarea.descripcion %>
</div>
<p> <%= link_to "Volver", tareas_path %> </p>
